<p>rating works!</p>


<div>

  <span class="star-rating" style="--rating: 9000;--total: 18000">

  </span>

</div>


<div class="rating-stars--warpper">

    <input type="radio" name="rate1" id="track" value="1" rate-value="1" class="rating-star relative"  /> <label for="rate1" > ★</label>
    <input type="radio" name="action" id="event" value="2" rate-value="2"  class="rating-star relative" />
    <input type="radio" name="action" id="message" value="3" rate-value="3" class="rating-star relative" />
    <input type="radio" name="action" id="message" value="4" rate-value="4"  class="rating-star relative" />
    <input type="radio" name="action" id="message" value="5" rate-value="5" class="rating-star relative" />

  <input type="text" name="" id="">
  <!-- < rate-value="1" (click)="changeRate($event)"> ★ </span> -->
  <span rate-value="2"> ★ </span>
  <span rate-value="3"> ★ </span>
  <span rate-value="4"> ★ </span>
  <span rate-value="5"> ★ </span>

</div>
